<!DOCTYPE html>
{% extends "Credential/base.html" %}
    { % load staticfiles % }
        {% block body_block %}
            <div class="jumbotron">
                {% if registered %}
                    <h1 class="display-1">Thank you for Registering</h1>
                {% else %}
                    <h1 class="display-2">Register Here</h1>
                    <h1 class="display-4">Fill Out the form</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{user_form.as_p}}
                        {{profile_form.as_p}}
                        <input type="submit" value="Submit">
                    </form>
                {% endif %}
            </div>
        {% endblock %}